<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="gibraltar">
      <section name="listener" type="Gibraltar.Agent.ListenerElement, Loupe.Core"/>
      <section name="packager" type="Gibraltar.Agent.PackagerElement, Loupe.Core"/>
      <section name="publisher" type="Gibraltar.Agent.PublisherElement, Loupe.Core"/>
      <section name="sessionFile" type="Gibraltar.Agent.SessionFileElement, Loupe.Core"/>
      <section name="exportFile" type="Gibraltar.Agent.ExportFileElement, Loupe.Core"/>
      <section name="viewer" type="Gibraltar.Agent.ViewerElement, Loupe.Core"/>
      <section name="email" type="Gibraltar.Agent.EmailElement, Loupe.Core"/>
      <section name="server" type="Gibraltar.Agent.ServerElement, Loupe.Core"/>
      <section name="networkViewer" type="Gibraltar.Agent.NetworkViewerElement, Loupe.Core"/>
      <section name="properties" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <gibraltar>
    <publisher productName="Demo" applicationName="AgentTest"/>
    <server useGibraltarService="true" customerName="Nonexistent" autoSendSessions="true" sendAllApplications="false" purgeSentSessions="false"/>
    <packager destinationEmailAddress="No-Reply@GibraltarSoftware.com" allowFile="true" allowRemovableMedia="true" allowEmail="true" productName="Demo" applicationName=""/>
    <!-- <listener reportErrorsToUsers="false" /> Mono doesn't support multiple UI threads -->
    <!-- <viewer hotKey="disable" /> Mono doesn't support multiple UI threads -->
    <sessionFile maxLocalDiskUsage="10"/>
    <networkViewer enabled="true" allowRemoteClients="true"/>
    <exportFile enabled="true" folder="C:\Data\Export"/>
  </gibraltar>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="gibraltar" type="Gibraltar.Agent.LogListener, Loupe.Agent.Internal"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <mailSettings>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
